@charset "utf-8";

.dragndrop-ques ol {
  margin: 0;
  padding: 0;
  padding-left: 30px;
  text-align: left;
  vertical-align: middle;
}
.dragndrop-ques ol li {
  padding: 5px 0;
  vertical-align: middle;
  /* font-family: Walkman ankush; */
  color: #000;
  font-size: 25px;
  margin: 10px auto;
  text-align: left;
  clear: both;
}

.dragndrop-ques ol ul h3 {
  margin-bottom: 1rem;
  /* font-family: Walkman ankush; */
  /* font-size: 25px; */
  font-size: 18px;
  line-height: normal;
  vertical-align: top;
  text-align: left;
  font-weight: 300;
}

.dragndrop-ques ol ul .dropHere {
  display: inline-block;
  text-align: center;
  color: #000;
}

.dragndrop-options {
  padding: 20px 20px 0;
  text-align: center;
  margin: auto;
}

.dragndrop-options ul {
  margin: 0;
  padding: 3px 20px;
  list-style: none;
  display: inline-block;
  background: #fff;
  /* border: 3px #07b3d6 solid; */
   border: 2px #b127dc solid;
  border-radius: 5px;
}

.dragndrop-options ul li {
  display: inline-block;
  text-align: center;
  padding: 0px;
  color: #000;
  font-size: 25px;
  min-width: 150px;
  border: thin #fff solid;
  margin: 5px;
}
.dragndrop-options ul li a {
  text-decoration: none;
  /* font-family: Walkman ankush; */
  font-size: 18px;
  color: #000;
  padding: 4px 10px;
  display: inline-block;
}

.dropped-here {
  color: #0e416a;
  text-decoration: underline;
}

.dropHere.text-success .dropped-here {
  color: #4caf50;
}

.dropHere.text-danger .dropped-here {
  color: #f44336;
}

.answer-filled {
  /* color: #bb0f05; */
  text-decoration: underline;
  font-weight: bold;
}
.d-flex {
  display: flex;
}
.mr-2 {
  margin-right: 1rem;
}
.question {
  font-weight: 600;
  font-size: 2.25rem;
  color: purple;
}
/******/

@media screen and (max-width: 767px) {
  .dragndrop-ques ol li {
    font-size: 16px;
    margin: 5px auto;
  }

  .dragndrop-ques ol li h3 {
    font-size: 16px;
  }
  .dragndrop-options ul li {
    font-size: 18px;
    min-width: auto;
  }
}

/* ----------- iPhone 4 and 4S ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .dragndrop-ques ol li {
    padding: 5px 0;
    margin: 2px auto;
    font-size: 14px;
  }

  .dragndrop-ques ol li h3 {
    font-size: 13px;
  }

  .dragndrop-options {
    padding: 5px 0px;
  }

  .dragndrop-options ul li {
    font-size: 14px;
    padding: 5px 10px;
  }

  .dragndrop-ques ol {
    padding-left: 20px;
  }
}

/* Landscape */
@media only screen and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  .dragndrop-ques ol li {
    padding: 5px 0;
    margin: 2px auto;
    font-size: 14px;
  }

  .dragndrop-ques ol li h3 {
    font-size: 13px;
  }

  .dragndrop-options {
    padding: 5px 0px;
  }

  .dragndrop-options ul li {
    font-size: 14px;
    padding: 5px 10px;
  }

  .dragndrop-ques ol {
    padding-left: 20px;
  }
}

/* ----------- iPhone X ----------- */

/* Landscape */
@media screen and (-webkit-device-pixel-ratio: 2) and (orientation: landscape) {
  .dragndrop-ques ol li {
    padding: 5px 0;
    margin: 2px auto;
    font-size: 14px;
  }

  .dragndrop-ques ol li h3 {
    font-size: 13px;
  }

  .dragndrop-options {
    padding: 5px 0px;
  }

  .dragndrop-options ul li {
    font-size: 14px;
    padding: 0px;
  }

  .dragndrop-ques ol {
    padding-left: 20px;
  }
}
/* ----------- Galaxy S4, S5 and Note 3 ----------- */
/* Landscape */
@media screen and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
  .dragndrop-ques ol li {
    padding: 5px 0;
    margin: 2px auto;
    font-size: 14px;
  }

  .dragndrop-ques ol li h3 {
    font-size: 13px;
  }

  .dragndrop-options {
    padding: 5px 0px;
  }

  .dragndrop-options ul li {
    font-size: 14px;
    padding: 5px 10px;
  }

  .dragndrop-ques ol {
    padding-left: 20px;
  }
}

/* ----------- Galaxy S6 ----------- */
/* Landscape */
@media screen and (-webkit-device-pixel-ratio: 4) and (orientation: landscape) {
  .dragndrop-ques ol li {
    padding: 5px 0;
    margin: 2px auto;
    font-size: 14px;
  }

  .dragndrop-ques ol li h3 {
    font-size: 13px;
  }

  .dragndrop-options {
    padding: 5px 0px;
  }

  .dragndrop-options ul li {
    font-size: 14px;
    padding: 5px 10px;
  }

  .dragndrop-ques ol {
    padding-left: 20px;
  }
}

/* ----------- Windows Phone ----------- */
@media screen and (device-width: 480px) and (device-height: 800px) and (orientation: landscape) {
  .dragndrop-ques ol li {
    padding: 5px 0;
    margin: 2px auto;
    font-size: 14px;
  }

  .dragndrop-ques ol li h3 {
    font-size: 13px;
  }

  .dragndrop-options {
    padding: 5px 0px;
  }

  .dragndrop-options ul li {
    font-size: 14px;
    padding: 5px 10px;
  }

  .dragndrop-ques ol {
    padding-left: 20px;
  }
}
