html {
    width: 100%;
    margin: 0px;
    padding: 0px;
    height: 100%;
    font-size: 16px;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Arial';
}

body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: white;
}

.playbtnbox {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.336);
    overlay: auto;
    z-index: 9999999;
}

li span {
    font-family: 'Arial';
    font-size: 2vw;
}

.item {
    z-index: 9999;
    cursor: pointer;
    font-size: 2vw;
    font-family: 'Arial';
}

.mainbox {
    display: flex;
    position: relative;
    width: 91%;
    height: 81%;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-evenly;
    align-items: stretch;
    /* background: url(../images/graph.png); */
    background-repeat: no-repeat;
    background-size: cover;
    top: 3%;
    margin: 0px auto;
    border: 20px solid #222222;
    border-radius: 10px;
    z-index: 99;
    background-color: aliceblue;
}

.score {
    display: flex;
    position: absolute;
    top: 6.6vh;
    left: 86.6vw;
    border: 2px solid #18aba6;
    width: 8vw;
    height: 8vw;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 2vw;
    border-radius: 12vw;
    z-index: 9999;
    background: #7bebff;
    opacity: 0;
    box-shadow: 0px 3px 4px 3px #71cedd70;
}

.score h4:first-child:after {
    content: "";
    width: 70px;
    height: 3px;
    background: #0ea9ad;
    position: absolute;
    bottom: -11px;
    left: 50%;
    margin-left: -34px;
}

.score h4 {
    margin: 10px auto;
    line-height: 30px;
    position: relative;
    font-family: "Conv_trebuc";
    font-size: 34px;
    text-align: center;
    color: #007971;
}
.text {
    display: flex;
    position: absolute;
    margin-top: -90px;
    font-size: 1.3vw;
}

.btn {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    /* text-align: center; */
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: center;
}

.btn img {
    width: 120px;
}

.headingbox {
    display: flex;
    position: absolute;
    width: 100%;
    height: 8%;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    top: 3%;
}

.note {
    display: inline-flex;
    position: relative;
    width: 30%;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: center;
    align-items: center;
    font-family: 'Arial';
    font-size: 40px;
    top: 0px;
    background: #ffffff;
    box-shadow: 2px 2px 2px;
}

.note span {
    display: inline-flex;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
}

.subheading {
    display: flex;
    position: relative;
    top: 2%;
    left: 0%;
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    border-radius: 10px;
    margin-bottom: 1%;
}

.subtext {
    display: flex;
    position: relative;
    width: auto;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-size: 2.3vw;
    font-weight: 600;
    top: 0px;
    left: 0px;
    padding-left: 20px;
    border-radius: 20px;
}

.dragclassbox {
    display: flex;
    position: relative;
    width: 98%;
    min-height: 7vh;
    height: auto;
    top: 0;
    left: 0;
    margin: 0px auto;
    border-radius: 20px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    border: 2px solid #000000;
}


.dragdrop {
    display: inline-flex;
    position: relative;
    text-align: center;
    width: fit-content;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    border-radius: 10px;
    background: none;
    cursor: pointer;
    z-index: 1;
    color: #000000;
    font-size: 2vw;
}

.container {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    align-items: stretch;
    top: 0;
    left: 0;
    margin: 0px;
    margin-top: 2%;
    margin-left: 0;
}

.imagebox {
    display: flex;
    position: absolute;
    top: 30vh;
    left: 70vw;
    z-index: 99;
}

img {
    width: 23vw;
    height: auto;
}

.q_list {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 0%;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: flex-start;
    align-items: flex-end;
    list-style: none;
    counter-reset: list-counter;
}

.q_list li {
    display: flex;
    position: relative;
    width: 98%;
    height: auto;
    font-family: 'Arial';
    font-size: 2vw;
    left: 1%;
    margin-bottom: 18px;
    padding-left: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    counter-increment: list-counter;
}

.q_list li::before {
    content: counter(list-counter) ". ";
    position: relative;
    width: fit-content;
}

/* .q_list li::before {
    content: counter(li-counter) ". ";
    counter-increment: li-counter;
    font-family: monospace;
    position: absolute;
    left: 0;
    font-size: calc(2vh + 15px);
} */

.dropbox-1 {
    display: inline-flex;
    position: relative;
    min-width: 12vw;
    height: 2.9vw;
    border-bottom: 2px solid black;
    margin-top: 0px;
    background: #ffffff;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    font-family: 'Arial';
}

.tickclass {
    display: flex;
    position: absolute;
    margin-top: -70px;
    z-index: 1;
    color: rgb(15 247 15);
    opacity: 0;
}

.wrongclass {
    display: flex;
    position: absolute;
    margin-top: -70px;
    z-index: 1;
    color: rgb(255, 6, 6);
    opacity: 0;
}

.narratorbox {
    display: flex;
    position: absolute;
    width: fit-content;
    height: fit-content;
    top: 60vh;
    left: 82vw;
    opacity: 0;
}

.narrator img {
    width: 9vw;
    height: auto;
}

.top_btns {
    display: flex;
    position: relative;
    width: 100%;
    height: fit-content;
    top: 20px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.btn_submit {
    display: inline-flex;
    position: relative;
    width: fit-content;
    height: fit-content;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    font-family: serif;
    color: white;
    padding: 5px 10px;
    font-size: 1.8vw;
    background-color: #303030;
    box-shadow: 0px 4px 1px 0px black;
    margin: 0px 10px;
}

.btn_submit:disabled{
    box-shadow: none;
    color: white;
}

.btn_answer {
    display: inline-flex;
    position: relative;
    width: fit-content;
    height: fit-content;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    font-family: serif;
    color: white;
    padding: 5px 10px;
    font-size: 1.8vw;
    background-color: #303030;
    box-shadow: 0px 4px 1px 0px black;
    margin: 0px 10px;
}

.btn_answer:disabled{
    box-shadow: none;
    color: white;
}

.btn_reset {
    display: inline-flex;
    position: relative;
    width: fit-content;
    height: fit-content;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    font-family: serif;
    color: white;
    padding: 5px 10px;
    font-size: 1.8vw;
    background-color: #303030;
    box-shadow: 0px 4px 1px 0px black;
    margin: 0px 10px;
}

.btn_answer:active {
    box-shadow: none;
}

.btn_submit:active {
    box-shadow: none;
}


.btn_reset:active {
    box-shadow: none;
}

.chatbox {
    display: flex;
    position: relative;
    width: 14%;
    height: 99px;
    top: -43%;
    left: 79%;
    padding: 10px;
    /* border: 2px solid black; */
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: center;
    margin-top: -80px;
}

.chattext {
    display: flex;
    position: relative;
    width: 190px;
    height: 102px;
    top: 0px;
    font-family: 'Arial';
    font-size: 1.6vw;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-around;
    align-items: stretch;
    text-align: center;
}

.bar {
    display: flex;
    position: relative;
    width: 100%;
    height: 13%;
    justify-content: center;
}

.monitorbox {
    display: flex;
    position: relative;
    width: 100px;
    height: 100%;
    background-color: #222222;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.welldone img {
    width: 680px !important;
}