html {
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    height: 100%;
    overflow: auto;
}


* {
    margin: 0px;
    padding: 0px;
}

body {
    overflow: hidden;
    width: 100%;
    height: 100%;

}

.mainbox {
    display: flex;
    position: relative;
    width: 97%;
    height: 84%;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: flex-start;
    align-items: stretch;
    background-repeat: no-repeat;
    background-size: cover;
    top: 1%;
    margin: 0px auto;
    border: 20px solid #222222;
    border-radius: 10px;
    z-index: 99;
    background-color: aliceblue;
}

img {
    width: 7vw;
    height: auto;
}

img.bigimage {
    width: 18vw !important;
}

.playbtnbox {
    /* display: flex
; */
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.336);
    overlay: auto;
    z-index: 9999;
}

.btn {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    /* text-align: center; */
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: center;
}

.btn img {
    width: 120px;
}

.titlebox {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
    text-align: center;
    top: 8px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: space-around;
    align-items: stretch;
}

.titlebox h2 span {
    font-family: 'Arial';
    font-size: 1.4rem;
    top: 0;
}

.titlebox h2 {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    border-radius: 20px;
    color: #64bb4e;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.welldone img {
    width: 580px;
}

.mainheadingbox {
    display: flex;
    position: relative;
    top: 0%;
    height: auto;
    margin-bottom: 0;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.subheading {
    display: flex;
    position: relative;
    width: 100%;
    margin: 0px auto;
    top: 0px;
    z-index: 99;
    text-align: left;
    flex-direction: row;
    align-content: stretch;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    /* background: #1dc3b5; */
    border-radius: 10px;
    margin-top: 2px;
    margin-bottom: 0px;
}

.subheading p {
    font-family: 'Arial';
    font-size: 1.1rem;
    font-weight: 600;
    display: block;
    position: relative;
    top: 0px;
    left: 0;
    width: 100%;
    margin: 0 auto;
    padding-left: 20px;
}

.container {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0px auto;
    /* border: 2px solid black; */
    border-radius: 40px;
    padding-top: 0px;
    padding-bottom: 10px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: flex-start;
    align-items: stretch;
    padding-left: 16px;
    top: 0px;
    left: 0px;
    /* background: #95d2b4; */
    /* overflow-y: auto; */
}


.question {
    display: flex;
    position: relative;
    width: 78vw;
    height: fit-content;
    padding: 5px;
    top: 0;
    left: 0;
    border-radius: 10px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-between;
    justify-content: flex-start;
    align-items: center;
    font-size: 2.1vw;
    font-weight: 500;
    z-index: 20;
    font-family: 'Arial';
    padding-left: 13px;
}

.frame {
    position: relative;
    margin-top: 0%;
    width: 98%;
    height: 100%;
    top: 0;
    /* overflow: auto; */
}

.option-item {
    display: inline-flex;
    position: relative;
    width: 40%;
    margin: 0.4% 2%;
    font-family: 'brh1';
    font-size: 1rem;
    color: black;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: flex-start;
    padding-left: 30px;
}

.q_list {
    display: flex;
    position: relative;
    width: 97%;
    height: 80%;
    margin-top: 0%;
    flex-direction: row;
    padding-left: 0px;
    border-radius: 30PX;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    align-items: flex-end;
    list-style: none;
    counter-reset: li-counter;
}

.q_list li {
    display: flex;
    position: relative;
    width: 100%;
    height: 36%;
    margin-left: 0px;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: 'brh2';
    font-size: 1.3rem;
    counter-increment: roman-counter;
    flex-direction: row;
    margin-bottom: 8px;
}



input[type="radio"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

li span {
    display: flex;
    position: relative;
    width: 96%;
    font-size: 1rem;
    font-family: 'Arial';
    /* background-color: #3d3d3d; */
    color: #000000;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding-left: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    /* box-shadow: 0px 8px 1px 0px black; */
    border-radius: 6px;
}

strong {
    margin-right: 7px;
    font-weight: 400;
    font-size: 1rem;
}

.option1,
.option2,
.option3 {
    width: auto;
    height: fit-content;
}

.option1:hover {
    box-shadow: 0px 0px 15px 10px lightblue;
}

.option2:hover {
    box-shadow: 0px 0px 15px 10px lightblue;
}

.option3:hover {
    box-shadow: 0px 0px 15px 10px lightblue;
}

.clicked {
    box-shadow: 1px 1px 16px 10px rgba(233, 4, 4, .8);
}

.disabled {
    box-shadow: none;
}

.score {
    display: flex;
    position: absolute;
    top: 0.2vw;
    left: 87.8vw;
    border: 2px solid #18aba6;
    width: 4.5rem;
    height: 4.5rem;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 2vw;
    border-radius: 12vw;
    z-index: 9;
    background: #7bebff;
    opacity: 0;
    box-shadow: 0px 3px 4px 3px #71cedd70;
}

.score h4:first-child:after {
    content: "";
    width: 70px;
    height: 3px;
    background: #0ea9ad;
    position: absolute;
    bottom: -11px;
    left: 50%;
    margin-left: -34px;
}

.score h4 {
    margin: 10px auto;
    line-height: 30px;
    position: relative;
    font-family: "Conv_trebuc";
    font-size: 1.5rem;
    text-align: center;
    color: #007971;
}

.text {
    display: flex;
    position: absolute;
    margin-top: -90px;
    font-size: 1.3vw;
}

.titlebox span {
    display: none;
    position: relative;
    width: auto;
    z-index: 2;
    font-weight: 700;
}

.box {
    display: flex;
    position: relative;
    width: 60px;
    height: 60px;
    background: url('../images/shape 9.png');
    background-position: center;
    background-repeat: no-repeat;
}

.tickimage {
    display: flex;
    position: absolute !important;
    width: auto;
    font-size: 1.4rem !important;
    top: -25%;
    left: 100%;
    color: rgb(0 255 0) !important;
}

.crossimage {
    display: flex;
    position: absolute !important;
    width: auto;
    font-size: 1rem !important;
    top: 0%;
    left: 100%;
}

.scorebox {
    display: none;
    position: absolute;
    width: 15%;
    height: 14%;
    border: 2px solid black;
    top: 79%;
    left: 45%;
    z-index: 9;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    font-size: 35px;
    background-color: #de87ff;
    color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 20px;
    border-color: #a055bc;
}

.scoretext {
    margin-left: 20px;
}

.seprate {
    display: flex;
    position: relative;
    margin-top: -40px;
    margin-left: 70%;
}

.totalmarks {
    display: flex;
    position: relative;
    margin-left: 70%;
}

.narratorbox {
    display: inline-flex;
    position: relative;
    width: fit-content;
    top: -20%;
    left: 77vw;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-around;
    align-items: stretch;
    transform: scaleX(-1);
    transform-origin: center;
    opacity: 0;
}


.narratorbox img {
    width: 11vw;
    height: auto;
}

.chatbox {
    display: block;
    position: absolute;
    width: 15vw;
    height: fit-content;
    top: 19vh;
    left: 77vw;
    text-align: center;
}

.chatbox img {
    /* display: none; */
    width: auto;
    height: 140px;
}

.chattext {

    font-family: 'brh2';
    font-size: 20px;
}

.top_btns {
    display: flex;
    position: fixed;
    width: 98%;
    border-radius: 10px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    /* background-color: #a055bc; */
    bottom: 15%;
    margin-top: 0;
}

.top_btns div {
    display: inline-flex;
    position: relative;
    width: fit-content;
    height: fit-content;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    font-family: serif;
    color: white;
    padding: 3px 10px;
    font-size: 1.8vw;
}

input[type="checkbox"] {
    width: 1.2rem;
    height: 1.2rem;
    cursor: pointer;
}

.btn_prev {
    display: inline-flex;
    position: absolute;
    width: fit-content;
    height: fit-content;
    top: 0;
    left: 0;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 50px;
    cursor: pointer;
    font-family: serif;
    color: white;
    padding: 6px;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #303030;
    box-shadow: 0px 4px 1px 0px black;
    margin: 0px 20px;
}

.btn_prev:disabled {
    box-shadow: none;
    opacity: 0;
    pointer-events: none;
}

.btn_next {
    display: inline-flex;
    position: absolute;
    width: fit-content;
    height: fit-content;
    top: 0;
    right: 0;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 50px;
    cursor: pointer;
    font-family: serif;
    color: white;
    padding: 6px;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #303030;
    box-shadow: 0px 4px 1px 0px black;
    margin: 0px 20px;
}

.btn_next:disabled {
    box-shadow: none;
    opacity: 0;
    pointer-events: none;
}

.btn_submit {
    display: inline-flex;
    position: relative;
    width: fit-content;
    height: fit-content;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    font-family: serif;
    color: white;
    padding: 3px 10px;
    font-size: 1.2rem;
    background-color: #303030;
    box-shadow: 0px 4px 1px 0px black;
    margin: 0px 20px;
}

.btn_submit:disabled {
    box-shadow: none;
    background-color: #666666;
}


.btn_answer:disabled {
    box-shadow: none;
    background-color: #666666;
}

.btn_answer {
    display: inline-flex;
    position: relative;
    width: fit-content;
    height: fit-content;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    font-family: serif;
    color: white;
    padding: 3px 10px;
    font-size: 1.2rem;
    background-color: #303030;
    box-shadow: 0px 4px 1px 0px black;
    opacity: 1;
    margin: 0px 20px;
}

.btn_reset {
    display: inline-flex;
    position: relative;
    width: fit-content;
    height: fit-content;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    font-family: serif;
    color: white;
    padding: 3px 10px;
    font-size: 1.2rem;
    background-color: #303030;
    box-shadow: 0px 4px 1px 0px black;
    opacity: 1;
    margin: 0px 20px;
}

.btn_submit:active,
.btn_answer:active,
.btn_reset:active {
    box-shadow: none;
}

.q-mark {
    font-family: none;
    margin-left: 1vw;
    font-weight: normal;
}

.bar {
    display: flex;
    position: relative;
    width: 100%;
    height: 22%;
    justify-content: center;
}

.monitorbox {
    display: flex;
    position: relative;
    width: 4rem;
    height: 100%;
    background-color: #222222;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

span.option-label {
    position: relative;
    margin-right: 0px !important;
    width: auto;
}

.welldone img {
    width: 680px !important;
}

.q_list {
    counter-reset: question;
    /* Reset counter at the start */
}

.q_list .question-heading::before {
    counter-increment: question;
    content: counter(question) ". ";
    /* font-weight: bold; */
    margin-right: 5px;
    display: none;
    position: relative;
    top: 10px;
}