@charset "utf-8";

.truefalse-ques ol {
  margin: 0;
  padding: 0;
  padding-left: 30px;
  text-align: left;
}
.truefalse-ques ol li {
  padding: 5px 0;
  vertical-align: middle;
  color: #000;
  font-size: 20px;
  margin: 10px auto;
  text-align: left;
  clear: both;
  min-height: 62px;
}

.truefalse-ques ol li h3 {
  margin: 0;
  width: 66%;
  font-family: Walkman ankush;
  font-size: 25px;
  line-height: normal;
  vertical-align: top;
  text-align: left;
  display: inline-block;
  font-weight: 200;
  padding: 0px 0;
}

.truefalse-ques ol li .ans-drop {
  float: right;
  display: inline-block;
  text-align: center;
  border-bottom: 1px #000 solid;
  width: 20%;
  min-height: 50px;
  color: #000;
}

.truefalse-ques ol li .ans-drop.text-success {
  color: #00d200;
}

.truefalse-ques ol li .ans-drop.text-danger {
  color: #ee001e;
}

.ans-options {
  padding: 20px 20px 0;
  text-align: center;
  margin: auto;
}

.ans-options ul {
  margin: 0;
  padding: 3px 20px;
  list-style: none;
  display: inline-block;
  background: #fff;
  border: 2px #b127dc solid;
  border-radius: 5px;
}

.ans-options ul li {
  display: inline-block;
  text-align: center;
  padding: 0px;
  color: #000;
  font-size: 25px;
  min-width: 100px;
}
.ans-options ul li a {
  text-decoration: none;
  color: #000;
  display: inline-block;
  padding: 2px 10px;
}

.truefalse-ques ol li .ans-drop span {
  vertical-align: bottom;
  /* position: absolute; */
  margin-top: 21px;
}

/******/

@media screen and (max-width: 767px) {
  .truefalse-ques ol {
    padding-left: 25px;
  }

  .truefalse-ques ol li {
    font-size: 16px;
    min-height: 35px;
    margin: 2px auto;
  }

  .truefalse-ques ol li h3 {
    font-size: 16px;
  }

  .truefalse-ques ol li .ans-drop {
    min-height: 25px;
  }

  .truefalse-ques ol li .ans-drop span {
    margin: auto;
  }
}

/* ----------- iPhone 4 and 4S ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .truefalse-ques ol {
    padding-left: 25px;
  }

  .truefalse-ques ol li {
    font-size: 16px;
    min-height: 35px;
    margin: 2px auto;
  }

  .truefalse-ques ol li h3 {
    font-size: 16px;
  }

  .truefalse-ques ol li .ans-drop {
    min-height: 25px;
  }

  .ans-options {
    padding: 10px 10px 0;
  }

  .ans-options ul li {
    font-size: 22px;
    padding: 2px 10px;
    min-width: 80px;
  }

  .btn-default {
    margin: 3px auto;
  }
}

/* Landscape */
@media only screen and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  .truefalse-ques ol {
    padding-left: 25px;
  }

  .truefalse-ques ol li {
    font-size: 16px;
    min-height: 35px;
    margin: 2px auto;
  }

  .truefalse-ques ol li h3 {
    font-size: 16px;
  }

  .truefalse-ques ol li .ans-drop {
    min-height: 25px;
  }

  .ans-options {
    padding: 10px 10px 0;
  }

  .ans-options ul li {
    font-size: 22px;
    padding: 2px 10px;
    min-width: 80px;
  }

  .btn-default {
    margin: 3px auto;
  }
}

/* ----------- iPhone X ----------- */

/* Landscape */
@media screen and (-webkit-device-pixel-ratio: 2) and (orientation: landscape) {
  .truefalse-ques ol {
    padding-left: 25px;
  }

  .truefalse-ques ol li {
    font-size: 16px;
    min-height: 35px;
    margin: 2px auto;
  }

  .truefalse-ques ol li h3 {
    font-size: 16px;
  }

  .truefalse-ques ol li .ans-drop {
    min-height: 25px;
  }

  .ans-options {
    padding: 10px 10px 0;
  }

  .ans-options ul li {
    font-size: 22px;
    padding: 0px;
    min-width: 80px;
  }

  .btn-default {
    margin: 3px auto;
  }
}
/* ----------- Galaxy S4, S5 and Note 3 ----------- */
/* Landscape */
@media screen and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
  .truefalse-ques ol {
    padding-left: 25px;
  }

  .truefalse-ques ol li {
    font-size: 16px;
    min-height: 35px;
    margin: 2px auto;
  }

  .truefalse-ques ol li h3 {
    font-size: 16px;
  }

  .truefalse-ques ol li .ans-drop {
    min-height: 25px;
  }

  .ans-options {
    padding: 10px 10px 0;
  }

  .ans-options ul li {
    font-size: 22px;
    padding: 2px 10px;
    min-width: 80px;
  }

  .btn-default {
    margin: 3px auto;
  }
}

/* ----------- Galaxy S6 ----------- */
/* Landscape */
@media screen and (-webkit-device-pixel-ratio: 4) and (orientation: landscape) {
  .truefalse-ques ol {
    padding-left: 25px;
  }

  .truefalse-ques ol li {
    font-size: 16px;
    min-height: 35px;
    margin: 2px auto;
  }

  .truefalse-ques ol li h3 {
    font-size: 16px;
  }

  .truefalse-ques ol li .ans-drop {
    min-height: 25px;
  }

  .ans-options {
    padding: 10px 10px 0;
  }

  .ans-options ul li {
    font-size: 22px;
    padding: 2px 10px;
    min-width: 80px;
  }

  .btn-default {
    margin: 3px auto;
  }
}

/* ----------- Windows Phone ----------- */
@media screen and (device-width: 480px) and (device-height: 800px) and (orientation: landscape) {
  .truefalse-ques ol {
    padding-left: 25px;
  }

  .truefalse-ques ol li {
    font-size: 16px;
    min-height: 35px;
    margin: 2px auto;
  }

  .truefalse-ques ol li h3 {
    font-size: 16px;
  }

  .truefalse-ques ol li .ans-drop {
    min-height: 25px;
  }

  .ans-options {
    padding: 10px 10px 0;
  }

  .ans-options ul li {
    font-size: 22px;
    padding: 2px 10px;
    min-width: 80px;
  }

  .btn-default {
    margin: 3px auto;
  }
}
