* {
    margin: 0px;
    padding: 0px;
}

html {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 97%;
    position: relative;
    margin: 0px;
    padding: 0px;
    overflow: none;
}

h2 {
    margin-top: 20px !important;
}

h5 {
    font-size: 2rem;
    font-weight: bold;
}

p {
    line-height: 30px;
}

.backscreen {
    display: flex;
    position: relative;
    top: 2vh;
    left: 40vw;
    width: fit-content;
    height: fit-content;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    font-family: 'Arial';
    font-size: 1.8vw;
    background-color: rgb(107 201 86);
    outline: none;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    padding: .3vw 1vw;
    margin: .1vw 1vw;
}

.tickimage {
    display: flex;
    position: relative;
    top: 0vh;
    left: 3vw;
    color: green;
    opacity: 0;
    flex-direction: row;
    font-weight: 800;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
}

.crossimage {
    display: flex;
    position: relative;
    top: 0vh;
    left: 3vw;
    color: green;
    opacity: 0;
}



.nextscreen {
    display: flex;
    position: relative;
    top: 2vh;
    left: 40vw;
    width: fit-content;
    height: fit-content;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    font-family: 'Arial';
    font-size: 1.8vw;
    background-color: rgb(107 201 86);
    outline: none;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    padding: .3vw 1vw;
    margin: .1vw 1vw;
}

.q_img {
    width: 30px;
}

.k_font {
    font-size: 1.8vw;
}


.titleParent {
    margin-top: 2vw;
    text-align: center;
}

.quess {
    width: calc(100% - 6vw);
}

#top_btns {
    display: inline-flex;
    position: relative;
    width: 100%;
    height: fit-content;
    top: -25%;
}

.title,
.heading {
    background: #9DEDED;
    text-align: center;
    font-weight: 500;
    width: 7vw;
    margin: auto;
    padding: 5px 45px;
    border-radius: 10px;
    box-shadow: 5px 5px 3px #888888;
    margin-top: 0px;
    font-size: 1rem;
}

.drops {
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 10px;
    border: .2vw solid #1a1818;
    margin: 0px;
}

.title {
    width: auto;
    display: inline-block;
}

.text-center {
    text-align: center !important;
}

#heading {
    text-align: center;
    height: auto;
    margin-top: 6px;
}

.heading {
    display: inline-block;
    height: 3vw;
    padding: .5vw 3vw;
}

.main {
    padding-left: 2%;
    height: 100%;
    margin-top: 40px;
}

.hidden {
    display: none;
}

.buts {
    display: inline-flex;
    position: relative;
    width: fit-content;
    height: fit-content;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-evenly;
    align-items: center;
    border-radius: .5vw;
    cursor: pointer;
    font-family: serif;
    color: white;
    padding: .1vw .6vw;
    font-size: 2rem;
    background-color: #303030;
    box-shadow: 0px 4px 1px 0px black;
}

.butsubmit {
    display: inline-flex;
    position: relative;
    width: fit-content;
    height: fit-content;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-evenly;
    align-items: center;
    border-radius: .5vw;
    cursor: pointer;
    font-family: serif;
    color: white;
    padding: .1vw .6vw;
    font-size: 2rem;
    background-color: #303030;
    box-shadow: 0px 4px 1px 0px black;
}

.butsubmit:disabled {
    color: white;
}

.butanswer:disabled {
    color: white;
}

.butanswer {
    display: inline-flex;
    position: relative;
    width: fit-content;
    height: fit-content;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-evenly;
    align-items: center;
    border-radius: .5vw;
    cursor: pointer;
    font-family: serif;
    color: white;
    padding: .1vw .6vw;
    font-size: 2rem;
    background-color: #303030;
    box-shadow: 0px 4px 1px 0px black;

}

center {
    margin: 0px 10px;
}

.cartoon {
    width: 11vw;
    /* top: 25%; */
    position: relative;
}

.option {
    font-size: 2rem;
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
}

.blank {

    font-size: 2rem;
    display: inline-block;
    width: 100px;
    height: 50px;
    border-bottom: 2px solid;
    text-align: center;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.play-icon {

    text-align: center;
}

.underline {
    display: inline-block;
    width: 7.5vw;
    height: 90%;
    border-bottom: 4px solid #000;
    cursor: pointer;
    position: relative;
}

.score {
    display: none;
    position: absolute;
    top: 10%;
    left: 87%;
    border: 2px solid #18aba6;
   width: 8rem;
    height: 8rem;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 2vw;
    border-radius: 12vw;
    z-index: 999999;
    background: #7bebff;
    opacity: 1;
    box-shadow: 0px 3px 4px 3px #71cedd70;
}

.score h4:first-child:after {
    content: "";
    width: 70px;
    height: 3px;
   background: #0ea9ad;
    position: absolute;
    bottom: -11px;
    left: 50%;
    margin-left: -34px;
}

.score h4 {
    margin: 10px auto;
    line-height: 30px;
    position: relative;
    font-family: "Conv_trebuc";
    font-size: 22px;
    text-align: center;
     color: #007971;
}

.text {
    display: flex;
    position: absolute;
    margin-top: -90px;
    font-size: 1.3vw;
    color: #269697;
}

.welldone {
    display: flex;
    position: fixed;
    width: 100%;
    height: auto;
    text-align: center;
    top: 10%;
    left: 30%;
    z-index: 999;
}

.welldone img {
    width: 600px;
    height: auto;
}

.tryagain {
    display: flex;
    position: fixed;
    width: 100%;
    height: auto;
    text-align: center;
    top: 40%;
    left: 40%;
    z-index: 999;
}

.tryagain img {
    width: 300px;
    height: auto;
}

.word {
    display: inline-block;
    padding: 5px;
    cursor: pointer;
}

.underlined {
    border-bottom: 2px solid #000;
}

.container {
    display: flex;
    position: relative;
    width: 93%;
    height: 80%;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-evenly;
    align-items: stretch;
    /* background: url(../images/graph.png); */
    background-repeat: no-repeat;
    background-size: cover;
    top: 5%;
    margin: 0px auto;
    border: 2vw solid #222222;
    border-radius: 10px;
    z-index: 99;
    background-color: aliceblue;
}

.left_area {
    width: 80%;
    display: inline-block;
    position: relative;
    height: auto;
}

.right_area {
    display: flex;
    float: right;
    width: 95%;
    position: absolute;
    vertical-align: bottom;
    flex-direction: row;
    justify-content: flex-end;
}

.all_ques {
    list-style-type: decimal;
    margin: 0;
}

.all_ques li {
    display: flex;
    margin: .2vw auto;
    position: relative;
    height: 4vw;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
}

.all_ques li>span {
    margin: 4px;
    font-size: 1.8rem;
    vertical-align: middle;
    display: inline-flex;
    text-align: left;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    
}

.drags {
    position: relative;
    display: inline-block;
    width: 3.2vw;
    height: 3.2vw;
    padding: 0 .5vw;
    border: .25vw solid black;
}

.drags:nth-child(2) {
    border-left: none;
}


.drags img, .drops img {
    display: flex;
    width: 3vw !important;
    height: auto !important;
    cursor: pointer;
    position: relative;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
	margin-left: 4px;
}

.bar {
    display: flex;
    position: absolute;
    width: 100%;
    height: 25%;
    justify-content: center;
    top: 75%;
}

.monitorbox {
    display: flex;
    position: relative;
    width: 100px;
    height: 100%;
    background-color: #222222;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

::marker {
    font-size: 2vw;
}

.drops {
    width: 3.5vw;
    height: 3.5vw !important;
    border-radius: .4vw;
    border: .2vw solid #1a1818;
    margin: 0px;
}