button#showPrevBtn {
    float: none;
    display: inline;
    margin: auto;
}

#showPrevBtn {
	float: none;
	display: inline;
}

#pdfPreview #userInfo > #form-btn {
    text-align: center !important;
}


@media (max-width: 1130px) {
	#level1_explorer {
		/* width: 80%; */
	}
	
	div#breadcrums span.breadLabel {
		margin: 0px 2px;
	}
}

@media (max-width: 850px) {
	.startScreen {
		width: 100%;
	}
	
	.startScreen h1 {
		font-size: 15px;
	}
}

@media (max-width: 500px) {
	.TG_bg {
		width: 100%;
		background-size: 100%;
	}
		
	h1#topTitle {
		font-size: 30px;
	}

	h1#topTitle+h2 {
		font-size: 26px;
	}
	
	input#startBtn {
		
  margin-top: 207px;
margin-left: 95px;
    width: auto;
	}
	#userInfo input[type="text"]{
		width: 190px;
		margin-left: 26px;
		
	}
	#userInfo {
		height: 406px;
	}
	input[type="submit"], button {
		margin-bottom: 19px;
	}

	input[type=checkbox],
	input[type=radio] {
		margin-left: 12px;

	}

}

@media (max-width: 850px) {
	.startScreen {
		width: 100%;
	}

	.startScreen h1 {
		font-size: 20px;
	}
	#userInfo {
		height: 369px;
	}
}

@media (max-width: 800px) {
	body {
		overflow: auto;
	}
	div#explorer {
		width: 100%;
	}
	#collectionList {
		width: 100%;
		margin-left: 0px;
		height: 100%;
		padding: 0px;
	}
	
	#level1_explorer {
		width: 100%;
		clear: both;
		float: none;
	}
	
	.level1-header {
		width: auto;
	}

	div#wrapper-button {
		width: auto;
	}
	
	#sidePanel-auto {
		width: 100% !important;
		overflow: auto !important;
	}

	#auto-page1, #auto-page2 {
		width: 100% !important;
	}
	
	#breadcrums > span {
		display: none;
	}

	#breadcrums > span:last-child {
		display: inline;
	}

	#stats > div {
		display: block;
		float: none;
		width: 100%;
		margin-bottom: 10px;
	}

	#addTest {
		margin-right: 5px;
		clear: both;
		
	}

	#stats {
		height: auto;
		text-align: right;
	}

	span.quesSec {
		text-align: left;
		width: auto;
	}

	div#explorer {
		clear: both;
	}

	.quesSecNo {
		background: transparent;
		padding: 0px;
		border: none;
	}
	
	div#pdfPreview {
		clear: both;
	}

	#toolbars {
		height: auto;
	}

	.mx-tools {
		position: relative;
		width: 100%;
		float: none;
		margin: 5px 0px 0px 0px;
		right: 0px;
		left: 0px;
		background: rgba(255, 255, 255, 0.42);
		top: 0px;
		padding: 5px 0px;
		text-align: left;
	}

	#pdfPreview .options {
		width: 100%;
	}

	#pdfPreview label.numbering {
		left: 3px;
	}

	#pdfPreview .question-parent {
		padding: 5.75px 10px 8px 5px;
	}

	.marksDiv {
		position: absolute;
		left: auto;
		top: auto;
		background: transparent;
		bottom: 0px;
		height: 46px;
		right: 9px;
		z-index: 1;
	}
	#pdfPreview #userInfo > div {
		float: none !important;
		position: static !important;
		display: block;
		width: 100% !important;
		text-align: left !important;
	}

	div#userInfo {
		position: relative;
	}
	.TG_bg {
		/*margin-left: -141px;*/
	}
}
@media (max-width: 640px) {
	.level1-header {
		width: 100% !important;
		    text-align: center;
	}
	.auto-topsection {
		width: 100% !important;
		text-align: center !important;
	}

	.auto-tabs-section {
		width: 100% !important;
		float: none !important;
		text-align: center !important;
	}
	div#wrapper-button {
    float: left;
    line-height: 30px;
    width: 100%;
    text-align: left;
}
div#topHeader {
    height: 35%;
}
/*#previewHTML td {
	width: 49%;
	font-size: 16px;
	
}*/
#userInfo label {
	margin-left: 1px;
}
.main {width: 40% !important;}

}
@media (max-width: 1920px) {
#pdfPreview #userInfo > div:nth-child(7) {
    left: 270px;
	bottom: 94px;
    right: auto;
    text-align: left;
}
#pdfPreview #userInfo > div:nth-child(3) {
    width: 50%;
}
#logoUpdateParent {
	top: -160px;
	left: -9px;
	
}
#pdfPreview #userInfo > div:nth-child(6) {
	left: 915px;
	top: -1px;
}

#pdfPreview #userInfo > div:nth-child(2) {
    margin-top: 62px;
	margin-left: -80px;
}

#logoUpdateParent input {
    margin-left: 0px;
}
#userInfo label {
	margin-left: 17px;
/*.fileChooseBlocker {
		width: 504px;
		left: 140px;
		height: 62px;
}*/
}
.fileChooseBlocker {
	top: 0px;
left: 139px;

}
#pdfPreview #userInfo > div:nth-child(3) {
    position: relative;
    top: -53px;
}
#pdfPreview #userInfo > div:nth-child(5) {
	top: 116px;
	left: 268px;
}
.level1-header{
    width: 44%;
}
#wrapper-button {
    width: 54%;
}
}
/*@media (max-width: 1280px) {
#pdfPreview #userInfo > div:nth-child(7) {
	right: 18%;
	
}
#logoUpdateParent input{
	margin-left: 18px;
}
}*/
@media (max-width: 800px) {
	
	#pdfPreview #userInfo > div:nth-child(7) {
		right: 2%;
		bottom: 106px;
	}
	#userInfo input[type="text"] {
		width: 211px;
	}
#breadcrums {
	height: 35px;
}
.quesSecNo {
	float: right;
}
#breadcrums > span.breadLabel {
	margin: 0px 2px;
}
.fileChooseBlocker {
	width: 341px;
top: 180px;
left: 551px;
height: 50px;
}

}



@media (max-width: 1500px) {
#logoUpdateParent input {
    margin-left: 18px;
	}
	#pdfPreview #userInfo > div:nth-child(5) {
	top: 116px;
left: 138px;
	}
	#pdfPreview #userInfo > div:nth-child(6) {
		top: 3px;
left: 653px;
	}
	#logoUpdateParent {
    top: -167px;
	}
	#pdfPreview #userInfo > div:nth-child(7) {
		bottom: 87px;
		left: 137px;
	}
	#pdfPreview #userInfo > div:nth-child(2) {
		width: 31%;
		margin-top: 63px;
		margin-left: -13px;
}
.fileChooseBlocker {
    top: 4px;
    left: 168px;
z-index: 999;
}	
.level1-header {
   
/* margin-left: 142px; */
   
width: 30%;
}
#wrapper-button {
    width: 52%;
}
}
@media screen and (max-width:1040px){
    #toolbars, .level3-navigation {
        height: auto;
    }

    .toolbarsHead {
        width: 40% !important;
    }
}

@media screen and (max-width:1024px){
	.main {
		width: 25%;
	}

	.folder_name {
		font-size: 16px;
	}
}

@media (max-width: 980px) {
	#pdfPreview #userInfo > div:nth-child(7) {
    right: 18%;
	left: 46px;
	bottom: 200px;
	}
	#logoUpdateParent {
		top: -149px;
		width: 48%;
	}
	#pdfPreview #userInfo > div:nth-child(5) {
		left: 50px;
		top: 149px;
	}
	#pdfPreview #userInfo > div:nth-child(2) {
		margin-top: 61px;
		width: 44%;
		margin-left: -10px;
	}
	#pdfPreview #userInfo > div:nth-child(6) {
		    top: -3px;
           left: 477px;
	}
	pdfPreview #userInfo > div:nth-child(3) {
		width: 51%;
		
	}
	.fileChooseBlocker {
    top: 2px;
/*left: 634px;*/
	}
	  .level1-header {
    width: 30%;
   }
   h1.tgTitle {
    padding: 0;
    font-size: 22px;
}
	  #wrapper-button {
    width: 50%;
   }
		
	
}

@media screen and (max-width:850px){
    .toolbars_preview {
        float: none;
    }
}

@media (min-width: 800px) {
	#logoUpdateParent input {
		margin-left: 0px;
	}
	#pdfPreview #userInfo > div:nth-child(2) {
			margin-top: 11px;
	}
}

@media (min-width: 768px) {
	#pdfPreview #userInfo > div:nth-child(2) {
			margin-top: 11px;
	}
	
}
	@media screen and (max-width:600px){
    .auto-top-bar .cntiner .pull-right, .auto-top-bar .cntiner .pull-left {
    float: none !important;
    margin: 5px auto;
}

 

.activityDetails {
    margin: 20px auto;
}

table.auto-seelctquestions th {
    font-size: 14px;
}

 

input[type=checkbox], input[type=radio] {
    font-size: 14px !important;
}

#auto-testpaper-details {
    font-size: 14px;
}
label.ml100 {
    margin: 0;
}
}



@media (max-width: 360px) {
	#userInfo {
		height: 458px;
		}
		#userInfo input[type="text"] {
		width: 200px;
	}
	.fileChooseBlocker {
		left: 156px;
top: 341px;
	}
	#pdfPreview #userInfo > div:nth-child(2) {
		margin-top: 29px;
	}
	
	.marksPreview {
		margin-left: 30px;
		margin-top: 19px;
	}
	
	.level1-header {
    /* margin-left: 83px; */
    width: 53%;
 }
	/*.marksDiv {
		bottom: -16px;
		right: -18px;
	}
	.marksInput {
		margin-right: 22px;
	}*/
	
/*#userInfo label {
    margin-left: 5px;
}*/
}
/*@media (min-width: 1920px) {	
	#logoUpdateParent input {
		margin-left: 0px;
	}
	
}*/


@media (max-width: 1200px) {
	#activityArea,
	.summary-container,
	#mainPage {
		width: 100% !important;
	}
}