.not-selectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.shortBarMenu h4 {
  color: rgb(236, 245, 251);
  text-align: center;
  font-size: 17px;
}

.footer_icons button {
  /* padding: 1px 4px; */
  /* width: 40px; */
  /* height: 40px; */
  /* border: 1px solid rgba(50, 50, 50, 0.7); */
  /* border-radius: 50%; */
  /* background: url(../img/icons/bottom-icons.png) no-repeat; */
  /* background-color: red; */
  /* box-shadow: inset 0 0 1px #fff, inset 4px 4px 20px rgba(255,255,255,0.33), inset -2px -2px 10px rgba(255,255,255,0.25); */
  /* text-align: center; */
  /* line-height: 34px; */
  background-color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin: 0 5px;
}

.footer_icons button .fa {
  font-size: 20px;
  color: #ffffff;
  /* padding: 0 18px; */
}

.prev_next_buttons button {
  /* position: absolute; */
  /* top: 50%; */
  /* background: transparent; */
  /* border: 1px transparent solid; */
  /* color: #000000; */
  /* font-size: 48px; */
  /* margin-top: -48px; */
  /* z-index: 99; */
}

/* button#ebook-prev { */
/* left: 0; */
/* } */

/* button#ebook-next {
  right: 0;
} */
::-webkit-input-placeholder {
  /* Chrome */
  color: #fff !important;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: #fff !important;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff !important;
  opacity: 1;
}
:-moz-placeholder {
  /* Firefox 4 - 18 */
  color: #fff !important;
  opacity: 1;
}
.navbar-form-custom .form-control {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.01);
  border: 2px solid #ffffff;
  font-size: 14px;
  height: 40px;
  margin: 10px 0;
  z-index: 2000;
  line-height: normal;
  color: #fff;
  border-radius: 50px;
  background: #774007;
}

div#app-preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #000000;
  top: 0px;
  left: 0px;
  z-index: 99999999;
}

.preloader-container {
  text-align: center;
  margin-top: 130px;
}

.notes-fixicon {
  position: absolute;
  top: 5%;
  left: 5%;
  z-index: 999;
  width: 30px;
  cursor: pointer;
  height: 30px;
  z-index: 999;
  vertical-align: top;
}

.notes-fixicon img {
  width: 100%;
  vertical-align: top;
}

#snippet pre {
  margin: 10px auto;
  padding: 10px 0;
  background-color: #fff;
  width: 97%;
}
.info-box {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 1px 1px 3px #afafaf;
  -moz-box-shadow: 1px 1px 3px #afafaf;
  box-shadow: 1px 1px 3px #afafaf;
  font-size: 12px;
  border: 1px solid #24aa27;
  margin: 30px auto;
  padding: 10px;
  width: 70%;
  background-color: #74e276;
  font-family: sans-serif;
}
.info-box ul li {
  margin-top: 5px;
}
.info-box div {
  margin: 5px auto;
  width: 92%;
}

[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("../img/glyphicons-halflings.png");
  background-repeat: no-repeat;
  margin-top: 9px;
  padding: 3px;
  transition: all 0.2s ease-in;
}

a:hover > [class^="icon-"],
a:hover > [class*=" icon-"] {
  background-image: url("../img/glyphicons-halflings-white.png");
}

.icon-align-left {
  background-position: 5px -70px;
}
.icon-align-center {
  background-position: -96px -72px;
}
.icon-align-right {
  background-position: -456px 0;
}

.toolbar-icons {
  opacity: 1;
  display: block;
  left: 406.5px;
  top: 616.40625px;
  right: auto;
  position: absolute;
  z-index: 9999999999999;
  background-color: #d0cbcb;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(14%, #d0cbcb),
    color-stop(100%, #e9e5e5)
  );
  background: -moz-linear-gradient(top, #d0cbcb 14%, #e9e5e5 100%);
  background: -ms-linear-gradient(top, #d0cbcb 14%, #e9e5e5 100%);
  background: linear-gradient(to bottom, #d0cbcb 14%, #e9e5e5 100%);
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxNCUiIHN0b3AtY29sb3I9IiNkMGNiY2IiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZTllNWU1IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0cbcb', endColorstr='#e9e5e5',GradientType=0 );
  background-size: 100% 100%;
  border-radius: 3px;
  box-shadow: 0px 0px 3px #000;
  height: 34px;
}

#user-options-small a {
  width: 105px;
  height: 100%;
  display: block;
  text-align: center;
  float: left;
  border-right: 1px solid #e2dfdf;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  text-decoration: none;
  color: rgb(139, 120, 120);
  transition: all 0.2s ease-in;
  overflow: hidden;
  text-align: center;
  color: rgb(139, 120, 120);
}

#user-options-small a:first-child {
  border-left: none;
}
#user-options-small a:last-child {
  border-right: none;
}
#user-options-small a:hover {
  /*width:105px;*/
}

.selection {
  color: white !important;
  background: #3297fd !important;
}
.highlighted {
  color: black;
  background: #ff0;
  cursor: pointer;
}

.highlighted.notes {
  background: red !important;
}

#menuHolder {
  background: yellow;
  padding: 8px 10px;
  color: white;
  font-family: Verdana;
}

#menuHolder span {
  display: inline-block;
  width: 150px;
  text-align: center;
  font-size: 25px;
  background: red;
  padding: 5px 0;
  cursor: pointer;
  transition: all 0.2s ease-in;
  border-radius: 20px;
}

#menuHolder span:hover {
  background: blue;
}

#yellow-notepad,
#yellow-notepad-reader {
  background-color: rgba(0, 0, 0, 0.882353);
  box-shadow: black 0px 0px 5px;
  -webkit-box-shadow: black 0px 0px 5px;
  -moz-box-shadow: black 0px 0px 5px;
  -ms-box-shadow: black 0px 0px 5px;
  -o-box-shadow: black 0px 0px 5px;
  box-shadow: black 0px 0px 5px;
  width: 240px;
  height: 210px;
  position: absolute;
  left: 250px;
  top: 450px;
  z-index: 9999999999999;
}

#yellow-notepad .notepad-editor,
#yellow-notepad-reader .notepad-editor {
  background: url(../img/Yellow_Notepad.jpg);
  position: absolute;
  background-position-x: -74px;
  background-position-y: -46px;
  border: 1px solid rgb(216, 216, 93);
  box-shadow: 0px 0px 5px rgb(105, 105, 84);
  padding-left: 30px;
  color: rgb(77, 75, 53);
  font-family: arial;
  line-height: 23px;
  overflow-y: auto;
  overflow-x: hidden;
  font-size: 17px;
  text-align: left;
  width: 230px;
  height: 200px;
  margin: 4px;
}

.notepad-btns {
  position: absolute;
  bottom: -35px;
  right: 0px;
  background: black;
  line-height: 25px;
  width: 149px;
  box-shadow: 0px 0px 3px #000;
  border-radius: 0 0 2px 2px;
  text-align: center;
  margin-left: auto;
  border: 3px solid white;
}

.notepad-btns2 {
  position: absolute;
  bottom: -35px;
  right: 0px;
  background: black;
  line-height: 25px;
  width: 149px;
  box-shadow: 0px 0px 3px #000;
  border-radius: 0 0 2px 2px;
  text-align: center;
  margin-left: auto;
  border: 3px solid white;
  left: 2px;
  width: 70px;
  right: auto;
}

#yellow-notepad .notepad-btns span {
  font-weight: bold;
  font-family: Verdana;
  vertical-align: top;
  color: white;
  cursor: pointer;
  display: block;
}

#yellow-notepad .notepad-btns span:hover {
  background: rgb(39, 39, 39);
  color: rgb(254, 255, 221);
}

#yellow-notepad .notepad-closeBtn,
#yellow-notepad-reader .notepad-closeBtn {
  background: url(../img/closeBtn.png) no-repeat;
  position: absolute;
  width: 27px;
  height: 27px;
  right: -27px;
  top: 0px;
  box-shadow: black 0px 0px 5px;
  -webkit-box-shadow: black 0px 0px 5px;
  border-radius: 0 2px 2px 0;
  cursor: pointer;
}

[class^="icon-"] + span {
  position: relative;
  line-height: 4px;
  vertical-align: -webkit-baseline-middle;
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  color: rgb(82, 73, 73);
  font-size: 14px;
}

.notepad-deleteBtn,
.notepad-saveBtn {
  font-weight: bold;
  font-family: Verdana;
  vertical-align: top;
  color: white;
  cursor: pointer;
  display: inline;
}

.canvas-paint {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

.record-audio {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 9999;
  height: 80%;
  height: calc(100% - 0px);
  background: #fefefe;
  width: 380px;
  display: none;
}

.iframe-blocker {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background: rgba(255, 255, 255, 0);
}

/**** start toolbox ******/
.drawing-tools {
  position: absolute;
  top: 70px;
  left: 0px;
  height: 80%;
  /* background: #ffffff; */
  z-index: 9999;
  padding-top: 100px;
  width: 220px;
  padding: 15px 15px 0px 15px;
  display: none;
  /*margin-top: 60px;*/
  background: rgba(0, 0, 0, 0.75);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  filter: progid:DXImageTransform.Microsoft.Shadow(color='#000000', Direction=0, Strength=16);
  -moz-box-shadow: 0 2px 16px #000, 0 0 1px #000, 0 0 1px #000;
  -webkit-box-shadow: 0 2px 16px #000, 0 0 1px #000, 0 0 1px #000;
  box-shadow: 0 2px 16px #000, 0 0 1px #000, 0 0 1px #000;
  border: 1px solid rgba(255, 255, 255, 0.5);
  margin-left: 7px;
  border-radius: 5px;
}

.pnt-tool {
  color: #ffffff;
  display: block;
  /* background: #ffffff; */
  margin: 7px 0px;
  text-align: left;
  border-radius: 0;
  font-size: 14px;
  height: 40px;
  padding: 10px 20px;
  cursor: pointer;
  line-height: 16px;
  /* border: 1px #031930 solid; */
  vertical-align: middle;
  border: 1px solid rgba(50, 50, 50, 0.7);
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0);
  box-shadow: inset 0 0 1px #fff, inset 4px 4px 20px rgba(255, 255, 255, 0.33),
    inset -2px -2px 10px rgba(255, 255, 255, 0.25);
}

.pnt-tool.active,
.pnt-tool:hover {
  background: #1f4c76;
  color: #fff;
}

.tools-title {
  color: #ffffff;
  text-align: center;
}
#tool-colorpicker > .colorpicker {
  right: 0px;
  position: absolute !important;
}

#pnt-color-select {
  width: 100%;
  height: 100%;
  border: 0px;
}

.duration02s {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}

.popupVideo {
  width: 688px;
  height: 617px;
  height: auto;
}

.regionPos.regionPosAudio img {
  width: 40px;
}

.pnt-tool .fa {
  float: left;
  padding-right: 15px;
  line-height: 18px;
}

.drawing-tools-header {
  /* background: #ffffff; */
  margin: -14px -15px 19px -15px;
  min-height: 16.43px;
  padding: 15px;
  /* border-bottom: 1px solid #e5e5e5; */
}

.linking-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  -ms-transform-origin: top left;
  transform-origin: top left;
  overflow: hidden;
  z-index: 1;
}

.action-highlight .canvas-paint {
  z-index: 2;
}

.select-pageselection select {
  width: 100%;
  padding: 5px 20px;
  background: rgba(255, 255, 255, 0.25);
  font-size: 16px;
  text-align: center;
  color: #000;
}

.select-pageselection {
  color: #fff;
  margin-top: 45px;
}

.select-pageselection label {
  font-size: 14px;
  font-weight: 600;
}

#color-selection {
  width: 100%;
  background: #0000ff;
  /* opacity: .5; */
}

#color-selection option:nth-child(1),
#color-selection option:nth-child(1):hover,
#color-selection option:nth-child(1):active {
  background: rgba(0, 0, 255, 0.3);
  /* opacity: .5; */
}
#color-selection option:nth-child(2),
#color-selection option:nth-child(2):hover,
#color-selection option:nth-child(2):active {
  background: rgba(0, 255, 0, 0.3);
  /* opacity: .5; */
}
#color-selection option:nth-child(3),
#color-selection option:nth-child(3):hover,
#color-selection option:nth-child(3):active {
  background: rgba(255, 0, 0, 0.3);
  /* opacity: .5; */
}
#color-selection option:nth-child(4),
#color-selection option:nth-child(4):hover,
#color-selection option:nth-child(4):active {
  background: rgba(255, 235, 59, 0.3);
  /* opacity: .5; */
}
#color-selection option:nth-child(5),
#color-selection option:nth-child(5):hover,
#color-selection option:nth-child(5):active {
  background: rgba(255, 87, 34, 0.3);
  /* opacity: .5; */
}
#color-selection option:nth-child(6),
#color-selection option:nth-child(6):hover,
#color-selection option:nth-child(6):active {
  background: rgba(3, 169, 244, 0.3);
  /* opacity: .5; */
}

.saraswati_logo img {
  max-width: 60px;
}

.saraswati_logo {
  display: inline-block;
}
@media (max-width: 700px) {
  nav#topbar-section .navbar-headerbar {
    /* display: none; */
  }
  .navbar-pagination {
    float: right;
  }

  span.head_text {
    padding: 0 10px;
    font-size: 13px;
  }

  #pageSearch {
    width: 50px;
  }

  /* nav#topbar-section .shortBarMenu {
        display: none;
    }*/
}

button {
  outline: none;
}

.thumbnail-header {
  padding-bottom: 20px;
}

.thumbnail {
  position: absolute;
  top: 30%;
  left: 0px;
  width: 100%;
  height: 225px;
  z-index: 9999;
  padding-top: 100px;
  padding: 15px 15px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-left: none;
  border-right: none;
  text-align: left;
  vertical-align: middle;
  line-height: 20px;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  font-size: 12px;
  filter: progid:DXImageTransform.Microsoft.Shadow(color='#000000', Direction=0, Strength=16);
  -moz-box-shadow: 0 2px 16px #000, 0 0 1px #000, 0 0 1px #000;
  -webkit-box-shadow: 0 2px 16px #000, 0 0 1px #000, 0 0 1px #000;
  box-shadow: 0 2px 16px #000, 0 0 1px #000, 0 0 1px #000;
  display: none;
}

.owl-nav {
  display: none;
}
.book-thumbnail img {
  max-width: 150px;
}

.printpages {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 350px;
  height: 255px;
  z-index: 9999;
  padding-top: 100px;
  padding: 15px 15px;
  background: rgba(0, 0, 0, 0.75);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  filter: progid:DXImageTransform.Microsoft.Shadow(color='#000000', Direction=0, Strength=16);
  -moz-box-shadow: 0 2px 16px #000, 0 0 1px #000, 0 0 1px #000;
  -webkit-box-shadow: 0 2px 16px #000, 0 0 1px #000, 0 0 1px #000;
  box-shadow: 0 2px 16px #000, 0 0 1px #000, 0 0 1px #000;
  border: 1px solid rgba(255, 255, 255, 0.5);
  margin-left: -175px;
  display: none;
}

.print-title {
  color: #ffffff;
  text-align: left;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.book-print ul {
  margin: 0;
  padding: 10px 20px 20px;
  color: #fff;
  font-weight: 400;
}

.book-print ul li label {
  font-weight: 500;
  display: inline-block;
  padding-right: 10px;
}

.book-print ul li input {
  color: #000000;
  padding: 2px 5px;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: 000000;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: 000000;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: 000000;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: 000000;
}

.thumbnail-page {
  height: 30px;
  background: rgba(17, 17, 17, 0.7);
  color: #d7d7d7;
  line-height: 30px;
  bottom: 10px;
  vertical-align: middle;
  position: absolute;
  width: 30%;
  left: 35%;
  text-align: center;
  font-size: 16px;
  box-shadow: 0 0 10px #fff;
  border-radius: 5px;
  display: none;
}

.thumbnail .item:hover .thumbnail-page {
  display: block;
}

.thumbnail .item {
  cursor: pointer;
}

.thumbnail .item.capage {
  border: 2px solid red;
}

.bookOnlyPreview #page-wrapper nav#topbar-section,
.bookOnlyPreview #takeBookmark,
.bookOnlyPreview .footer {
  display: none;
}

.bookOnlyPreview #wrapper {
  margin-top: 0px;
}

.bookOnlyPreview #btn-toggleAsset {
  display: block;
}

button#btn-toggleAsset {
  position: fixed;
  bottom: 30px;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  display: none;
}

.book-print ul {
  list-style: none;
  padding-left: 0px;
  padding-right: 0px;
}

.book-print ul li {
  margin-bottom: 15px;
}

.book-print ul li input {
  margin-right: 11px;
}

.footer.footer_icons > div {
  margin-left: 5px;
}

#tool-sidebar {
  margin-right: 4px;
  margin-left: 0px;
}

#dev-icon-co {
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 9999;
  background: white;
  padding: 13px 30px;
  /* line-height: 33px; */
  text-align: left;
  color: black;
  font-size: 14px;
  border: 1px solid red;
  border-top: none;
  border-right: none;
  display: none;
  font-weight: bold;
}

#dev-icon-co td {
  padding: 4px;
}

button#dev-section-close {
  color: red;
  position: absolute;
  right: 0px;
  background: #e4e4e4;
  bottom: -26px;
  padding: 2px 8px;
  border: 1px solid red;
  border-top: none;
  border-right: none;
}

#dev-pos-x,
#dev-pos-y {
  color: #607d8b;
}

.app-logo img {
  height: 70px;
  padding: 0.5rem;
  background-color: white;
}

.app-logo {
  position: absolute;
  /* display: flex; */
  left: 0px;
  top: 0px;
  /* width: 180px; */
  border: 4px solid #fff;
  border-radius: 0 0 1rem 0;
  /* background-color: white; */
  /* clip-path: polygon(0 0, 100% 0, 70% 100%, 0% 100%); */
}
.btn-img {
  width: 38px;
}
.top-controls-wrapper {
  display: flex;
  width: 50rem;
  justify-content: space-between;
}
.top-controls-wrapper button {
  border: none;
  background: transparent;
}
.top-controls-wrapper button li {
  list-style: none;
}
.top-controls-wrapper .count-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 5rem;
}
.navbar-fixed-top {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination-wrapper {
  display: flex;
  align-items: center;
  border-radius: 0.6rem;
  padding: 5px 6px;
}
.book-wrapper {
  position: relative;
}
/* .prevBtn {
  position: absolute;
  top: 36%;
  left: 6%;
  background-color: transparent;
  border: none;
}
.nexBtn {
  position: absolute;
  top: 36%;
  right: 6%;
  background-color: transparent;
  border: none;
} */
.footer-content-wrapper {
  display: flex;
  justify-content: space-between;
}
.footer-right-btn-container {
  margin-right: 8px;
  display: flex;
  align-items: center;
}
.footer.fixed {
  padding-top: 0.4rem;
}
.left-btns {
  display: flex;
  align-items: center;
}
