@media screen and (max-width: 600px) {
	.bookmarkIcon {
		right: 25px;
	}
	body.fixed-sidebar.mini-navbar #page-wrapper {
		margin-top: 70px;
	}
	.fancybox-slide {
		width: unset;
		height: unset;
	}
	#popupVideo {
		width: 360px;
		padding: 5px;
	}

	.jp-video {
		max-width: 100%;
		width: 100%;
		height: auto;
	}

	.jp-video .jp-type-single {
		width: 100% !important;
	}

	.jp-interface {
		box-sizing: border-box;
		width: 100%;
	}

	.jp-video .jp-controls-holder {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		width: 360px;
	}
	.jp-video .jp-type-single .jp-controls {
		margin: 0;
	}
	.fancybox-slider {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.fancybox-slide {
		position: unset;
	}
}
