#book {
    width: 1600px;
    height: 1035px;
}

#book .turn-page {
    background-color: white;
}

#book .cover {
    background: #333;
}

#book .cover h1 {
    color: white;
    text-align: center;
    font-size: 50px;
    line-height: 1035px;
    margin: 0px;
}

#book .loader {
    background-image: url(../img/loader.gif);
    width: 24px;
    height: 24px;
    display: block;
    position: absolute;
    top: 238px;
    left: 188px;
}

#book .data {
    text-align: center;
    font-size: 40px;
    color: #999;
    line-height: 1035px;
}

#controls {
    width: 800px;
    text-align: center;
    margin: 20px 0px;
    font: 30px arial;
}

#controls input,
#controls label {
    font: 30px arial;
}

#book .odd {
    background-image: -webkit-linear-gradient(left, #fff 95%, #ddd 100%);
    background-image: -moz-linear-gradient(left, #fff 95%, #ddd 100%);
    background-image: -o-linear-gradient(left, #fff 95%, #ddd 100%);
    background-image: -ms-linear-gradient(left, #fff 95%, #ddd 100%);
}

#book .even {
    background-image: -webkit-linear-gradient(right, #fff 95%, #ddd 100%);
    background-image: -moz-linear-gradient(right, #fff 95%, #ddd 100%);
    background-image: -o-linear-gradient(right, #fff 95%, #ddd 100%);
    background-image: -ms-linear-gradient(right, #fff 95%, #ddd 100%);
}

.specialpage {
    background-size: 100% auto !important;
}

#book {
    -webkit-transition: margin-left 0.2s ease-in-out;
    -moz-transition: margin-left 0.2s ease-in-out;
    -o-transition: margin-left 0.2s ease-in-out;
    -ms-transition: margin-left 0.2s ease-in-out;
    transition: margin-left 0.2s ease-in-out;
}

.turn-page img {
    width: 100%;
}

#book {
    margin: auto;
}

.regionPos {
    position: absolute;
    z-index: 9;
    line-height: normal;
    cursor: pointer;
    /* width: 35px; */
    width: 5%;
    transform: translate(-50%, -50%);
}
