@charset "utf-8";

.mcq-section ol {
  margin: 0;
  padding: 0;
  padding-left: 30px;
  text-align: left;
}

.mcq-section ol ul {
  padding: 5px 0;
  vertical-align: middle;
  color: #000;
  /* font-family: Walkman ankush; */
  /* font-size: 25px; */
  font-size: 20px;
  margin: 10px auto;
  text-align: left;
  clear: both;
  /* min-height: 62px; */
}
.mcq-section ol li ol {
  padding-left: 0px;
}
.quiz_ques h3 {
  margin: 0;
  /* font-size: 25px; */
  font-size: 20px;
  line-height: normal;
  vertical-align: top;
  text-align: left;
  font-weight: 300;
}
.quiz_ques li {
  width: 33%;
  display: inline-block;
  position: relative;
  list-style-type: none;
  margin-right: 20px !important;
}
.quiz_ques ol li {
  padding: 5px 45px 5px 0;
  margin-right: 0 !important;
}
.quiz_ques li:before {
  /* content: counter(li, lower-roman) ". "; */
  counter-increment: li;
  position: absolute;
  top: 15px;
  left: 0;
}

.quiz_ques {
  counter-reset: li;
  position: relative;
}
.flexwrap {
  flex-wrap: wrap;
}
.quiz_ques li .labelwrap {
  vertical-align: top;

  position: relative;

  padding-left: 50px;

  /* min-width: 200px; */
}

.quiz_ques li input[type="checkbox"],
input[type="radio"] {
  /* margin-left: 60px; */
  float: right;
  position: absolute;
  right: -25px;
  top: 0;
}
.checkbox,
.radio {
  padding-left: 20px;
  color: #000;
  font-weight: normal;
}
input[type="checkbox"],
input[type="radio"] {
  width: 30px;
  height: 32px;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
  background: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  border-radius: 0;
  vertical-align: text-top;
  display: inline-block;
  cursor: pointer;
  box-shadow: none;
  background: url("../img/checkbox.png") no-repeat;
  background-size: 100%;
}

input[type="radio"] {
  -webkit-border-radius: 2em;
  /* Make radios round */
  -moz-border-radius: 2em;
  /* Make radios round */
  -ms-border-radius: 2em;
  /* Make radios round */
  -o-border-radius: 2em;
  /* Make radios round */
  border-radius: 2em;
  /* Make radios round */
}

input[type="checkbox"]:checked::after,
input[type="radio"]:checked::after {
  content: "";
  display: block;
  text-align: center;
  line-height: 18px;
  width: 30px;
  height: 32px;
  background: url("../img/checkbox-checked.png") no-repeat;
  background-size: 100%;
}

input[type="checkbox"]:focus,
input[type="radio"]:focus {
  outline: none;
}

.submit-correct input[type="checkbox"]:checked::after,
.submit-correct input[type="radio"]:checked::after {
  background: url(../img/checkbox-correct.png) no-repeat;
  background-size: 100%;
}

.submit-incorrect input[type="checkbox"]:checked::after,
.submit-incorrect input[type="radio"]:checked::after {
  background: url(../img/checkbox-incorrect.png) no-repeat;
  background-size: 100%;
}

/****/
@media screen and (max-width: 991px) {
  .quiz_ques ol li {
    padding: 5px 5px;
    font-size: 18px;
    margin: 5px auto;
    min-height: auto;
  }
  .quiz_ques h3 {
    font-size: 18px;
  }
  .mcq-section ol li {
    font-size: 18px;
  }

  .quiz_ques li .labelwrap {
    padding-left: 20px;
  }
}

@media screen and (max-width: 767px) {
  .quiz_ques li {
    width: 100%;
  }

  .checkbox,
  .radio {
    margin: 2px auto;
  }

  .quiz_ques li:before {
    top: 7px;
  }
}

/* ----------- iPhone 4 and 4S ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .quiz_ques li {
    width: 33%;
  }

  .mcq-section ol {
    padding-left: 20px;
  }

  .quiz_ques h3 {
    font-size: 16px;
  }

  .mcq-section ol li {
    font-size: 16px;
    margin: 3px auto;
  }

  input[type="checkbox"],
  input[type="radio"] {
    width: 20px;
    height: 22px;
    font-size: 11px;
  }

  input[type="checkbox"]:checked::after,
  input[type="radio"]:checked::after {
    width: 20px;
    height: 22px;
    font-size: 11px;
  }
}

/* Landscape */
@media only screen and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  .quiz_ques li {
    width: 33%;
  }

  .mcq-section ol {
    padding-left: 20px;
  }

  .quiz_ques h3 {
    font-size: 16px;
  }

  .mcq-section ol li {
    font-size: 16px;
    margin: 3px auto;
  }

  input[type="checkbox"],
  input[type="radio"] {
    width: 20px;
    height: 22px;
    font-size: 11px;
  }

  input[type="checkbox"]:checked::after,
  input[type="radio"]:checked::after {
    width: 20px;
    height: 22px;
    font-size: 11px;
  }
}

/* ----------- iPhone X ----------- */

/* Landscape */
@media screen and (-webkit-device-pixel-ratio: 2) and (orientation: landscape) {
  .quiz_ques li {
    width: 33%;
  }

  .mcq-section ol {
    padding-left: 20px;
  }

  .quiz_ques h3 {
    font-size: 16px;
  }

  .mcq-section ol li {
    font-size: 16px;
    margin: 3px auto;
  }

  input[type="checkbox"],
  input[type="radio"] {
    width: 20px;
    height: 22px;
    font-size: 11px;
  }

  input[type="checkbox"]:checked::after,
  input[type="radio"]:checked::after {
    width: 20px;
    height: 22px;
    font-size: 11px;
  }
}
/* ----------- Galaxy S4, S5 and Note 3 ----------- */
/* Landscape */
@media screen and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
  .quiz_ques li {
    width: 33%;
  }

  .mcq-section ol {
    padding-left: 20px;
  }

  .quiz_ques h3 {
    font-size: 16px;
  }

  .mcq-section ol li {
    font-size: 16px;
    margin: 3px auto;
  }

  input[type="checkbox"],
  input[type="radio"] {
    width: 20px;
    height: 22px;
    font-size: 11px;
  }

  input[type="checkbox"]:checked::after,
  input[type="radio"]:checked::after {
    width: 20px;
    height: 22px;
    font-size: 11px;
  }
}

/* ----------- Galaxy S6 ----------- */
/* Landscape */
@media screen and (-webkit-device-pixel-ratio: 4) and (orientation: landscape) {
  .quiz_ques li {
    width: 33%;
  }

  .mcq-section ol {
    padding-left: 20px;
  }

  .quiz_ques h3 {
    font-size: 16px;
  }

  .mcq-section ol li {
    font-size: 16px;
    margin: 3px auto;
  }

  input[type="checkbox"],
  input[type="radio"] {
    width: 20px;
    height: 22px;
    font-size: 11px;
  }

  input[type="checkbox"]:checked::after,
  input[type="radio"]:checked::after {
    width: 20px;
    height: 22px;
    font-size: 11px;
  }
}

/* ----------- Windows Phone ----------- */
@media screen and (device-width: 480px) and (device-height: 800px) and (orientation: landscape) {
  .quiz_ques li {
    width: 33%;
  }

  .mcq-section ol {
    padding-left: 20px;
  }

  .quiz_ques h3 {
    font-size: 16px;
  }

  .mcq-section ol li {
    font-size: 16px;
    margin: 3px auto;
  }

  input[type="checkbox"],
  input[type="radio"] {
    width: 20px;
    height: 22px;
    font-size: 11px;
  }

  input[type="checkbox"]:checked::after,
  input[type="radio"]:checked::after {
    width: 20px;
    height: 22px;
    font-size: 11px;
  }
}
.question {
  color: purple;
}
